.App {
  font-family: sans-serif;
  text-align: center;
}

.active {
  background: black;
  font-weight: bold;
  color: blue;
}

.fade-enter {
  opacity: 0.01;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 0.8s ease-in;
}

.fade-leave {
  opacity: 1;
}

.fade-appear {
  opacity: 0;
}

.fade-appear.fade-appear-active {
  opacity: 1;
  transition: opacity 0.8s ease-in;
}
